In [1]:
import pandas as pd

In [25]:
df_stadt = pd.read_json ('data193.json',orient='split')

In [26]:
df_stadt

,Cases,place,deaths,death_rate,cases_7_bl,last_update,today
0,10569,Karlsruhe Stadtkreis,198,1.873403,8920,23.05.2021,23.05.2021

In [38]:
str(df_stadt['last_update'].tolist()[0])

'23.05.2021'

In [45]:
df_stadt.append({'Cases' : 102,
                    'place' : 'KAS',
                      'deaths': 156,
                        'death_rate':10.56,
                         'cases_7_bl':566,
                          'last_update':'25.214.013',
                           'today':'125.25.21'} , 
                    ignore_index=True)

,Cases,place,deaths,death_rate,cases_7_bl,last_update,today
0,10569,Karlsruhe Stadtkreis,198,1.873403,8920,23.05.2021,23.05.2021
1,102,KAS,156,10.560000,566,25.214.013,125.25.21

In [46]:
df_stadt.append({'Cases' : 102,
                    'place' : 'jdad',
                      'deaths': 156,
                        'death_rate':10.56,
                         'cases_7_bl':566,
                          'last_update':'25.214.013',
                           'today':'125.25.21'} , 
                    ignore_index=True)

,Cases,place,deaths,death_rate,cases_7_bl,last_update,today
0,10569,Karlsruhe Stadtkreis,198,1.873403,8920,23.05.2021,23.05.2021
1,102,jdad,156,10.560000,566,25.214.013,125.25.21

In [39]:
df_stadt

,Cases,place,deaths,death_rate,cases_7_bl,last_update,today
0,10569,Karlsruhe Stadtkreis,198,1.873403,8920,23.05.2021,23.05.2021